<nav class="py-3 px-4 bg-white shadow md:flex md:items-center md:justify-between">

    <div class="flex flex-row items-end justify-between">
        <div class="flex flex-row items-end">
            <div class="mr-1">
                <img class="h-10 inline" src="assets/logo.png" alt="logo">
            </div>
            <div class="text-3xl font-semibold text-bBlue tracking-widest">
                BUILD<span class="text-cyan-500">CON</span>
            </div>
        </div>

        <div class="mr-2 cursor-pointer md:hidden">
            <button [hidden]="!menuHidden" (click)="showMenu()">
                <img class="h-6" src="assets/menu.png" alt="menu">
            </button>
            <button [hidden]="menuHidden" (click)="showMenu()">
                <img class="h-6" src="assets/close.png" alt="close">
            </button>
        </div>

    </div>

    <ul class="md:flex md:flex-row md:items-center md:z-auto -z-10 md:static absolute bg-white w-screen left-0 md:w-auto md:py-0 pt-3 pb-3 md:pl-0 pl-12
    md:opacity-100 opacity-0 -top-[400px] transition-all ease-in-out duration-500" [ngClass]="formatMenu()">
        <ng-container *ngFor="let link of links">
            <li class="mx-4 mt-3 md:my-0">
                <a href="{{link.address}}"
                    class="text-lg hover:text-cyan-500 transition duration-500 capitalize md:text-xl">{{link.name}}</a>
            </li>
        </ng-container>
    </ul>

</nav>